<!--
<beans />
-->


<beans xmlns="https://jakarta.ee/xml/ns/jakartaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/beans.xsd"
        version="3.0" bean-discovery-mode="annotated">
    <!--
    bean-discovery-mode="all"  // Para que busque en todos los paquetes
    bean-discovery-mode="annotated"  // Para que busque solo en los paquetes con anotaciones
    -->
</beans>
